.card{
    display: flex;
    flex-direction: column;
    width: 630px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px silver;
    min-height: 300px;
}

.card-body{
    flex: 1 1 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-header{
    border-bottom: solid 1px silver;
    padding: 10px;
}

.card-footer{
    border-top: solid 1px silver;
    padding: 10px;
    text-align: center;
}

